
<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			<div class="row">
				<div class="6u 12u$(small)">
					<nav id="footermenu">
						<ul class="alt">
							{% for page in site.pages %}
								{% if page.layout == "home" %}
									<li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
								{% endif %}
							{% endfor %}
							{% for page in site.pages %}
								{% if page.layout != "home" and page.nav-menu == true %}
									<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				</div>
				<div class="6u$ 12u$(small)">
					<h3>Sponsors and Supporters</h3>
					<div class="row 50% uniform">
						<div class="3u"><span class="image fit"><img src="assets/images/sponsor-techexeter.png" alt="TechExeter CIC"></span></div>
						<div class="3u"><span class="image fit"><img src="assets/images/sponsor-phoenix.png" alt="Exeter Phoenix"></span></div>
						<div class="3u$"><span class="image fit"><img src="assets/images/sponsor-ecc.png" alt="Exeter City Council"></span></div>
					</div>

					
					<p></p>
					<div>



					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
	
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			
			<div class="boxed">{{ site.title }}</div> {{ site.subtitle2 }}</small><br/>
			A <a href="https://techexeter.uk" target="_blank">TECHEXETER</a> EVENT
			
			<ul class="copyright">
				<li>&copy; TechExeter CIC</li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
